.buttons-wrap {
  display: none;
  width: 100%;
  text-align: center;
  padding: 15px;
  position: relative;
  height: 180px;

  @media only screen and (max-width: $mobile-breakpoint) {
    display: block;
  }

  button {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    cursor: pointer;

    &#up {
      top: 15px;
      left: 50%;
      @include transform(translateX(-50%));
      background-position: -4px;
      background-size: 200px;
      background-repeat: no-repeat;
    }

    &#down {
      top: 105px;
      left: 50%;
      @include transform(translateX(-50%));
      background-position: -71px;
      background-size: 200px;
      background-repeat: no-repeat;
    }

    &#left {
      top: calc(50%);
      left: calc(50% - 90px);
      @include transform(translate(-50%, -50%));
      background-position: -140px;
      background-size: 200px;
      background-repeat: no-repeat;
    }

    &#right {
      top: calc(50%);
      left: calc(50% + 90px);
      @include transform(translate(-50%, -50%));
      background-position: -4px -127px;
      background-size: 200px;
      background-repeat: no-repeat;
    }
  }
}
